---
layout: default
title : Homepage
navbar_title: Home
---


{% include widgets/head-custom-google-analytics.html %}

{% include widgets/profile_card.html %}

{% include widgets/admissions_cta.html %}

{% if site.data.display.homepage.show_news %}
{% assign count_news = site.news | size %}
{% if count_news > 0 %}
{% include widgets/news_card.html limit=5 show_all_link=true %}
{% endif %}
{% endif %}

{% assign pubs = site.publications | sort: "date" | reverse %}
{%
    include widgets/publication_card.html
    publications=pubs
    title='Publications'
%}

{% assign grp = site.data.group %}
{%
    include widgets/group_card.html
    group=grp
    title='Group'
%}

{% assign grt = site.data.grants %}
{%
    include widgets/grant_card.html
    grants=grt
    title='Grants'
%}

{% if site.data.display.homepage.show_services %}
{% include widgets/service_card.html title='Services' %}
{% endif %}

{% if site.data.display.homepage.show_experience %}
{% include widgets/experience_card.html %}
{% endif %}
