<!-- <footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>
    </div>
</footer> -->

<!-- <footer class="footer footer-expand-sm footer-light bg-light mb-5 shadow-sm">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>
    </div>
</footer> -->

<!-- <footer class="footer footer-expand-sm footer-light bg-light mb-5 shadow-sm">
    <div class="container">
        <div class="col-6">
            <div class="text-muted">
                <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
            </div>
        </div>

        <div class="col-6">
            <div class="text-right text-muted">
                {{ site.data.display.footer_text }}
            </div>
        </div>
    </div>
</footer> -->

<footer class="footer border-top py-2 mt-5 bg-white shadow">
    <div class="container">
        <div class="row my-2">
            <div class="col-md-4">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-md-none">
                    <div class="text-muted small">
                        {{ site.data.display.footer_text }}
                    </div>
                </div>
                <div class="d-none d-md-block">
                    <div class="text-right text-muted">
                        {{ site.data.display.footer_text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


