

{% assign item = include.item %}
<div style="text-align: center; vertical-align:top; margin-bottom: 10px; display: inline-block; margin-right: 5px; margin-left: 5px">    
    <div style="text-align: center; vertical-align:top; font-size: 12px;">
      <p style="margin: 2px 0; font-size: 15px">{{item.name}}</p>
      <p style="margin: 0px 0;">{{item.program}}</p>
      <p style="margin: 0px 0;">{{item.period}}</p>
      <p style="margin: 0px 0;">{{item.work}}</p>
      {%- if item.remark -%}
      <p style="margin: 0px 0;">{{item.remark}}</p>
      {%- endif -%}
      {%- if item.honor -%}
      <p><i class="fa fa-trophy"></i> {{item.honor}}</p>
      {%- endif -%}      
    </div>
</div>