

{% assign item = include.item %}
<div class="d-none d-md-block">
    <div class="row no-gutters border-bottom border-gray">
        <div class = "col">
            <p class="font-weight-normal">{{ item.role }}</p>
        </div>
        <div class = "col">
            <p class="mt-0 mb-1 font-weight-normal">{{ item.project }}</p>
        </div>
        <div class = "col">
            <p class="mt-0 mb-0 small">{{ item.period }}</p>
        </div>
        <!-- <div class = "col">
            <p class="mt-0 mb-0 small">{{ item.amount }}</p>
        </div> -->


            <!-- <p class="mt-0 mb-0 small">{{ item.project }}</p>
            <p class="mt-0 mb-0 small">{{item.pub_pre}}<i>{{ item.pub }}</i>{{ item.pub_post }} {{ item.pub_date }} {{ item.pub_last }}</p>
            <p class="mt-0 mb-0 small text-muted">{{ item.abstract }}</p> -->     

    </div>
    <p class="mt-0 mb-1 font-weight-normal">{{ item.amount }}</p>
</div>