{% assign sorted_news = site.news | sort: "date" | reverse %}
{% assign news_limit = include.limit | default: 5 %}
{% if news_limit > 0 %}
{% assign shown_news = sorted_news | slice: 0, news_limit %}
{% else %}
{% assign shown_news = sorted_news %}
{% endif %}
{% assign news_by_year = shown_news | group_by_exp: "item", "item.date | date: '%Y'" %}

<section class="my-3 p-0 bg-white shadow-sm rounded-sm" id="News" aria-labelledby="news-heading">
    <div class="border-bottom border-gray p-3">
        <h2 class="h4 mb-0" id="news-heading">News</h2>
    </div>
    <div class="px-3 pb-1">
        {% for year in news_by_year %}
        <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            <div class="news-year mr-3 my-1">{{ year.name }}</div>
            <div class="media-body">
                {% for item in year.items %}
                <div class="my-1 d-flex news-item">
                    <div>{{ item.title }}</div>
                    <div class="ml-auto mt-auto text-muted no-break news-date"><i>{{ item.date | date: "%b %d" }}</i></div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if include.show_all_link %}
    <div class="border-top border-gray px-3 py-2">
        <a href="{{ '/news/' | relative_url }}">All news <i class="fas fa-angle-right ml-1" aria-hidden="true"></i></a>
    </div>
    {% endif %}
</section>
